* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* columns: honeydew; */
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: blue;
    margin: 40px 0px;
}

p {
    padding: 15px 5px;

}

h3 {
    padding-top: 25px;
    color: rgb(38, 35, 216)
}

label {
    padding-top: 8px;
    padding-left: 25px;

}

input {
    position: absolute;
    left: 10%;
}

.add_button {
    padding: 5px 9px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 13%;

}

.container_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.row {
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.card {
    border: 1px solid grey;
    border-radius: 5px;
    width: 24%;
    padding: 10px 15px;
    /* background-color: #c8e6c9; */
    margin-bottom: 20px;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer p {
    font-size: 15px;
    font-family: sans-serif;

}

.card-footer .action_buttons {
    display: flex;

}

.card-footer img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

.card.marked {
    background-color: #caddeb;
    border: 2px solid #1b1c80;
}

.card.marked img {
    opacity: 0.5;
}

.card_detail {
    width: 50%;
    margin: 50px auto;
}

.card-header {
    color: royalblue;
    font-size: 35px;
    font-weight: bold;
}